<div class="modal-body text-center align-items-center">
     <div class="delete-icon-wrapper mx-auto mb-3">
        <i class="bi bi-trash delete-icon"></i>
    </div>
    <h5 class="modal-title fw-semibold">Delete</h5>
    <p class="mt-3 mb-0">Are you sure to delete the user?</p>
</div>

<div class="modal-footer d-flex justify-content-between">
    <button class="btn btn-outline-secondary flex-fill" (click)="cancel()">Cancel</button>
    <button class="btn btn-danger flex-fill" (click)="confirm()">Confirm</button>
</div>